@{
  layout = null
}
<!DOCTYPE html>
  <html>
    <head>
      <meta name="Viewport" content="Width=device-width" />
      <title>Welcome</title>
    </head>

    <body>
      <div>
        Welcome @Session["Username"]

      </div>
    </body
  </html>
